<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <title>Document</title>
        <script>
            function editMode() {
                let card = $('#card');
                let name = card.children()[0].innerText;
                let age = card.children()[1].innerText;
                let mbti = card.children()[2].innerText;
                let hobby = card.children()[3].innerText;
                let rgb = card.children()[4].innerText;
                let content = card.children()[5].innerText;
                temp_card = `
                        <div class="card-body">
                                <input id="card_name" value="${name}" >
                                <input id="card_age" value="${age}" >
                                <input id="card_mbti" value="${mbti}" >
                                <input id="card_hobby" value="${hobby}" >
                                <input id="card_rgb" value="${rgb}" >
                                <textarea id="card_content" rows="2">${content}</textarea>
                                <button onclick="editData('{{user["_id"]}}')" >edit</button>
                        </div>
                `;
                card.html(temp_card);
            }

            function editData(id) {
                let name = $('#card_name').val();
                let age = $('#card_age').val();
                let mbti = $('#card_mbti').val();
                let hobby = $('#card_hobby').val();
                let rgb = $('#card_rgb').val();
                let content = $('#card_content').val();
                $.ajax({
                    type: 'POST',
                    url: '/edit',
                    data: { id: id, name: name, age: age, mbti: mbti, hobby: hobby, rgb: rgb, content: content },
                    success: function (response) {
                        if (response['result'] == 'success') {
                            alert('수정 완료!');
                        } else {
                            alert('수정 실패!');
                        }
                        $.ajax({
                            type: 'POST',
                            url: '/user',
                            data: { id: id },
                        });
                    },
                });
            }
        </script>
    </head>
    <body>
        <div id="card">
            <h1>{{user['name']}}</h1>
            <h1>{{user['age']}}</h1>
            <h1>{{user['mbti']}}</h1>
            <h1>{{user['hobby']}}</h1>
            <h1>{{user['rgb']}}</h1>
            <h1>{{user['content']}}</h1>
            <button onclick="editMode()">edit</button>
            <a href="/"> <button>home</button></a>
        </div>
    </body>
</html>
